/*
Gris Oscuro: 252830
Azul ICE: 005998
Rojo: ed1c24
Amarillo Logo ICE: ffd204
*/


html, body{
	min-height: 100%;
}

h2{
	font-size:17px; 
	font-weight:normal;
}

/*COLOR DEL WRAPPER*/
#contentWrapper{
	background:#252830; 
	width:100%;
	height: 76%;
}

/*COLOR DEL WRAPPER*/
body{
	font-size:12px !important; 
	color: #ffffff; 
	font-family: 'Roboto', sans-serif; 
	line-height: 1.4; 
	background:#404041 !important
}

/* Color de Header*/
body#avTheme .mainColor{
	background:#005998
}
/* Color de Header*/

body#avTheme .logo{
	background:url(../img/LogoICEAmarilloBlanco2.png) -10px 0; 
	width:190px; 
	height:100px; 
	float:right; 
}

body#avTheme h1, body#avTheme h2, body#avTheme h3, body#avTheme h4, body#avTheme h5, body#avTheme h6, body#avTheme a{
	color:#ed1c24; 
}

hr{margin-bottom:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
h1{font-size:22px;}
h2{font-size:18px;}
h3{font-size:17px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}


p.headerTitle{
	font-size:26px; 
	color:#fff;
}


body#avTheme .boxes a{
	color:#585858;
}

.boxes .box{
	margin-bottom:30px;
}
body#avTheme .boxes a:hover{
	text-decoration:none;
}

.home h1{
	font-size:54px; 
	margin-bottom:0; 
	margin-top:30px;
}
.home p{
	font-size:20px;
}
.home .pagedesc{
	font-weight:100; 
	line-height: 1.1; 
	margin-bottom:50px;
}

.toolName{
	margin:auto;
	text-align:right;
	margin-top: 20px;
}

p.headerTitle{
	margin:0 0 20px 0;
}
.cercadetilog{
	padding-right:10px;
	display:inline;
}


.landingbox{ 
	border:#bcbec0 solid 2px; 
	padding-left:6px; 
	padding-right:6px;  
	background-color: #e7e9e9;
}
.landingbox p{
	padding-left:4px;
	padding-right:4px;
}
.landingbox .mainicon{
	width:80px; 
	margin-left:auto; 
	margin-right:auto;
}
.landingbox .boxtitle{
	font-size:20px; 
	font-weight:500; 
	margin-bottom:0;
}
.landingbox .boxdesc{
	font-size:14px; 
	font-weight:300; 
	margin-bottom:20px;
}

footer {
	position: relative; 
	clear: both; 
	padding-top: 5px; 
	padding-right: 16px; 
	padding-bottom: 0px; 
	padding-left: 16px; 
	height: 10px; 
	background-color: #404041; 
	color:#bbbdc0
}

footer .contactmargin{
	margin-top:8px; 
	margin-bottom:-8px;
}
@media (min-width:992px) {
	.bgimage{
		background-image:url('../img/pizarra.png'); 
		background-repeat:no-repeat; 
		background-position:top right; 
		min-height:480px;
	}
	footer .rightborder{
		border-right:#58595b solid 2px; 
		padding-top:20px; padding-right:30px;
	}
	footer .leftborder{
		border-left:#58595b solid 2px;  
		padding-left:30px; 
	}
}

footer{
	padding-top:20px;
	color:#d1d3d4;
}

body#avTheme footer a{
	color:#d1d3d4;
}

footer .footerico{
	font-size:70px; 
	color:#fff; 
	padding-right:20px; 
	padding-left:00px;
}

footer .size1{
	font-size:14px; 
	font-weight:300;
}

footer .size2{
	font-size:20px; 
	font-weight:500; 
	margin-bottom:0;
}

footer .size3{
	font-size:28px; 
	font-weight:500; 
	margin-top:4px;
}

@media (max-width:992px) {
	.fltleft{
		float:left;
	}
	.fltright{
		float:right;
	}
}
.cercadetilog{
	padding-right:10px; 
	display:inline;
}

footer .contactmargin{
	margin-top:8px; 
	margin-bottom:-8px;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.toolName{
		text-align:center
	}        
	.logo{margin:auto
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.toolName{
		text-align:center
	}
	.logo{
		margin:auto
	}
	.content {
		-webkit-box-shadow: -18px 0px 12px -12px rgba(204, 204, 204, 0.3);
		-moz-box-shadow: -18px 0px 12px -12px rgba(204, 204, 204, 0.3);
		box-shadow: -18px 0px 12px -12px rgba(204, 204, 204, 0.3);
		min-height:580px;
		padding-left:30px;
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.toolName{
		text-align:left;
	}
	.logo{
		margin:0
	}
	p.headerTitle{  
		margin-top: 14px;
		margin-bottom: 10px;
	}
}