html,body{
    
    margin:0px;
    height:100%;   
    }

.modal-dialog{
    margin: 0px auto !important;    
    overflow-y: hidden; 
    overflow-x:hidden;
}

.modal-content {
    background-color: #1e1e1e !important;
    color: rgb(206, 206, 206);
    /* color: #337ab7; */
}
.modal-new-task{
    width: 70% !important;
    margin: auto !important;
}

.modal-header{
    border-bottom: none !important;
    background-color: #212121 !important;
}
.modal-title{
    color: #f0f0f0 !important;
}
.modal-body{
    background-color: #131310 !important;

}

.modal-panel{
    background-color: #212121 !important;
}

.modal-panel-heading{
    background-color: #424242 !important;
}

.modal-footer{
    border-bottom: none !important;
    background-color: #212121 !important;
}

.control-label{
    color:rgb(206, 206, 206);
}
.box{
    color:rgb(10, 10, 10);
    height: 100%;
    background: #bbe20f; 
    margin-bottom: 10%;  
   /* margin-top: 10%;  */
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    position:relative;
}
.box1-label{
    color:rgb(206, 206, 206);
    padding-top: 15%;
    padding-bottom: 5%; 
    line-height: 200px; 
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    
}

.box3-label{
    color:rgb(206, 206, 206);
    padding-top: 4%;
    padding-bottom: 1%; 
    line-height: 200px; 
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    
}
.footer-box{
    position:absolute;
    bottom:5px;
    width: 100%;
    /* right:auto; */
}


.st_input-field-desc, .st_input-field{
    color: black !important;
    width: 100%;
    /* resize:none; */
}

.st_input-field-time{
    color: black !important;
}

.tbl-items{
    color: rgb(44, 43, 43);
}

.form-control-file{
    color: #fff;
}

.sub-task-desc{
    width: 100%;
    color: black !important;
}


.form-control{
    color: black !important;

}
/***********************combo box ******************************/
 /*fondo #016DC4
    texto #FFFFFF*/
    .cmbfield {
        margin: 0 auto;
        /* margin-top: 20; */
        width: 350px;
    }
    
    .cmbfield .field {
        width:100%; 
        background: #1e1e1e; 
        color:#FFFFFF;     
        padding:5px 5px; 
        border:none; 
        cursor:pointer;
        font-family:'lucida sans unicode',sans-serif; font-size:1.2em;
        border:solid 1px #C2C2C2;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .cmbfield .field:hover {
        border: solid 1px #C2C2C2;
        -moz-box-shadow: 0 0 5px #999;
        -webkit-box-shadow: 0 0 5px #999;
        box-shadow: 0 0 5px #999
    }
    
    .cmbfield>ul.list {
        display: none;
        position: absolute;
        /*left: 30px;
        top: -30px;*/
        z-index: 999;
        width: 15%;
        margin: 0;
        padding: 10px;
        list-style: none;
        background: #fff;
        color: #333;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 5px #999;
        -webkit-box-shadow: 0 0 5px #999;
        box-shadow: 0 0 5px #999;
    }
    
    .cmbfield>ul.list li {
        padding: 10px;
        border-bottom: solid 1px #ccc;
    }
    
    .cmbfield>ul.list li:hover {
        background: #1478b1;
        color: #fff;
    }
    
    .cmbfield>ul.list li:last-child {
        border: none
    }
    
    .field::-webkit-input-placeholder {
        color: #FFFFFF;
        text-align: center;
    }
    
    .field::-moz-placeholder {
        /* Firefox 19+ */
        color: #FFFFFF;
        text-align: center;
    }
    
    .fieldID{
        display: none;
    }
    
    
    
    
    